/*основной цвет текста #757575 серый
вторичный цвет текста, заголовки #212121 черный 
в футере телефон и почта rgba(255, 255, 255, 0.6);
логотип studio #000000
#FFFFFF белый
акцент #2196F3 синий
цвет фона #E5E5E5
цвет фона вторичный #F5F4FA 
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-accent-color: #000000;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid yellowgreen;
}

.spacing {
  letter-spacing: 0.02em;
  outline: 2px solid tomato;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.accent-logo {
  color: var(--secondary-accent-color);
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*Site nav*/
.site-nav-item {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav-item:hover,
.site-nav-item:focus,
.contact-item:hover,
.contact-item:focus,
.site-nav-item.current {
  color: var(--accent-color);
}

.contact-item {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/*Hero*/
.hero {
  background-color: #2f303a;
  text-align: center;
  margin-bottom: 94px;
}

.hero-heading {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 30px;
}

.button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0px;
}
.button:hover {
  background-color: #188ce8;
}

/*Особенности и чем мы занимаемся*/

.features {
  background-color: red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-heading-item {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}

.features-heading-item-content {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 94px;
}

.features-heading {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
/*Чем мы занимаемся*/
.image-items {
  background-color: royalblue;
  margin-bottom: 188px;
}

/*Наша команда*/
.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 184px;
}

/*Footer*/

.footer-address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 9px;
}

footer {
  background-color: #2f303a;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  display: inline-block;
}

.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

/*Portfolio*/
.button-primary {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.section-title {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.item {
  font-size: 16px;
  line-height: 30px;
}

.section-text {
  font-size: 16px;
  line-height: 1.88;
}
